@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.arb {
    font-family: 'Amiri', serif;
    direction: rtl;
}
a:link {
    text-decoration: none;
}
a {
    color: #000000;
}
.mb-main{
    margin:0 0 0 45px;
}
.mb-menu{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 0 5px 5px 0;
    padding: 10px 0 10px 0;
    z-index: 9999;

}
ul {
    list-style-type: none;
    padding: 0 10px 0 5px;
  }
  
   ul li {
    padding: 8px 16px;
    margin: 5px 0 5px 0;
    border-top: 1px solid #5c4242;
    border-bottom: 1px solid #5c4242;
    border-radius: 10px;
    background-image: url("img/judul.png");
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    text-align: center;
  }
  .navig{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: 50px;
    background-color: rgb(175, 127, 127);
  }
  .navig ul{
    padding-top: 7px;
  }
  .navig ul li{
    float: right;
    margin: 0 5px 0 5px;
  }
  
.hidden{
    width: 0;
    height: 40px;
}
.Tmenu {
    position: absolute;
    right: -35px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;

}
.menu-icon{
    position: relative;
    display: inline-block;
    width: 30px;
    text-indent: -999px;
}
.border-icon{
    height: 15px;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    }
.border-icon:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    border-top: 5px solid #000000;
}
.mb-head{
    text-align: center;
    background-image: url("img/judul.png");
    background-position: center;
    background-size: 100% 100%;;
    background-repeat: no-repeat;
    border-top: 1px solid #5c4242;
    border-bottom: 1px solid #5c4242;
    border-radius: 20px;
}