/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  @import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');



.section-navbar{
    font-family: 'Teko', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
}
.menu-page ul{
    list-style: none;
    display: flex;
}
.menu-page ul li{
    margin-left: 5px;
}
.cari{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}