/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variable */
:root{
    --warna1:#81ee96;
    --warna2:#443e19;
    --warna3:#48421b;
    --warna4:#e8e8e8;
}
/* atas */
.atas{
    position: fixed;
    width: 100%;
    background-color: var(--warna1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 1;
}
.atas img{
    width: 25px;
}
.atas-app, .atas-cari{
    display: flex;
    align-items: center;
    padding: 3px 16px;
    border: 1px solid var(--warna4);
    border-radius: 15px;
}
.atas-app{
    cursor: pointer;
}
.atas-app span{
    margin-left: 10px;
}
.atas-cari img{
    width: 20px;
    margin-left: 3px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}
.atas-cari input{
    padding: 3px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
}
.atas-menu{
    position: fixed;
    width: 100%;
    top: -45px;
    transition: top 3s;
    
}
.atas-menu-item{
    max-width: fit-content;
    margin: auto;
    background-color: var(--warna1);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--warna4);
}
.atas-menu-item div{
    display: inline-block;
    text-align: center;
    border: 1px solid var(--warna4);
    padding: 5px;
    border-radius: 15px;
}
.atas-menu-item img{
    width: 30px;
}
.atas-menu-item a{
    display: block;
}
.show{
    top: 45px;
    transition: top 3s;
}
.hedd{
    top: -45px;
    transition: top 3s;
}
